
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 100px;
}

.no-underline {
  text-decoration: none;
}

.header-navigation {
  width: 100%;
}

#root {
  width: 100%;
}

.invalid-feedback {
  display: block !important;
  position: relative;
  left: 13px;
}